<div class="row">
    <div class="col-xs-12">
        <a class="list-group-item clearfix" *ngFor="let h of households" (click)="selectHousehold(h)" [ngClass]="{'bg-info': h.id === selectedHousehold.id}">
            <app-household [userId]="userId" [manager]="manager" [household]='h'></app-household>
        </a>
    </div>
</div>