<span class="pull-left">
    <h4 class="list-group-item-heading"> Id: {{user.id}} UserName: {{user.userName}}</h4>

    <div>
        <p *ngIf="user.loggedIn else elseBlock" style="color: green;">Logged In</p>
        <ng-template #elseBlock>
            <p style="color: red;">Logged Out</p>
        </ng-template>
    </div>

</span>
<div class="pull-right">
    <h4 class="list-group-item-heading" *ngIf="user.blocked == true"> BLOCKED </h4>
    <button class="btn btn-danger" (click)="deleteUser()">Delete</button>
</div>