<div class="row">
    <div class="col-xs-12">
        <a class="list-group-item clearfix border" *ngFor="let u of users" (click)="selectUser(u)" [ngClass]="{'bg-info': u.id === selectedUser.id}">
            <app-user [user]='u'></app-user>
        </a>
    </div>
</div>