<span class="pull-left">
    <h4 class="list-group-item-heading"> Id: {{household.id}} Name: {{household.name}} Address: {{household.address}}</h4>
</span>
<div class="pull-right">
    <div class="pull-left">
        <input
            style="display: none"
            type="file" (change)="onFileChanged($event)"
            #fileInput>
        <button *ngIf="!manager" type ="button" class="btn btn-primary" (click)="fileInput.click()">Upload Image</button>
    </div>
    
    <div class="pull-right">
        <div class ="align-top-right">
            <h4 class="list-group-item-heading" *ngIf="household.blackout == true"> BLACKOUT </h4>
        </div>
        <div class="align-bottom-right">
            <img [src]="household.imgURL" height="200">
        </div>
    </div>    
</div>       