<div class="row">
    <div class="col-xs-12 border">
        <h4>Market Price is $ {{marketPrice}}</h4>
    </div>
    <div class="col-xs-12 border" *ngIf="selectedHousehold.id >= 0">
        <h3>Household Data: {{selectedHousehold.name}}</h3>
        <p>Household Production Is      : {{selectedHousehold.production}}</p>
        <p>Household Consumption Is     : {{selectedHousehold.consumption}}</p>
        <p>Household Net-Production Is  : {{selectedHousehold.production - selectedHousehold.consumption}}</p>
        <p>Household Buffer Is          : {{selectedHousehold.buffer}} out of {{selectedHousehold.buffer_limit}}</p>
        <div class="progress" style="height: 40px;">
            <div class="progress-bar progress-bar" [ngClass]="{'bg-success':selectedHousehold.percentageBuff>50, 'bg-warning':selectedHousehold.percentageBuff<50 && selectedHousehold.percentageBuff>25, 'bg-danger':selectedHousehold.percentageBuff<25}" role="progressbar" [ngStyle]="{width: selectedHousehold.percentageBuff + '%'}"   attr.aria-valuenow="{{selectedHousehold.buffer}}" aria-valuemin="0" attr.aria-valuemax="{{selectedHousehold.buffer_limit}}"></div>
        </div>
    </div>
    
    <div class="col-xs-12 border" *ngIf="(selectedHousehold.id >= 0) && !manager" >
        <h3>Sell Control Enabled</h3>
        <h4>How much of produced power do you want to sell to the market? (the rest will be stored in your buffer)</h4>
        <p>Store: {{selectedHousehold.sellThresh}} %</p>
        <input #bufferRange1 value="{{selectedHousehold.sellThresh}}" [disabled]="((selectedHousehold.production-selectedHousehold.consumption) < 0)" type="range" class="custom-range" id="customRange1" min="0" max="100" (change)="setSellThresh(bufferRange1.value)"> 
    </div>

    <div class="col-xs-12 border" *ngIf="(selectedHousehold.id >= 0) && !manager">
        <h3>Buy Control Enabled</h3>
        <h4>How much of required power do you want to buy from the market? (the rest will be used from your buffer)</h4>
        <p>Use: {{selectedHousehold.buyThresh}} %</p>
        <input #bufferRange2 value="{{selectedHousehold.buyThresh}}" [disabled]="((selectedHousehold.production-selectedHousehold.consumption) > 0)" type="range" class="custom-range" id="customRange1" min="0" max="100" (change)="setBuyThresh(bufferRange2.value)"> 
    </div>

    <div class="col-xs-12 border" *ngIf="selectedTurbine.id >= 0">
        <h2>Turbine Data ID: {{selectedTurbine.id}}</h2>
        <p>Turbine Windpeed     : {{selectedTurbine.windspeed}}</p>
        <p>Turbine Production   : {{selectedTurbine.production}}</p>
    </div>
</div>
