<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">GLE-Systems</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                
                <a *ngIf="isManager" class="nav-link" routerLink="/manager_page">Manager Page</a>
                <a *ngIf="!isManager" class="nav-link" routerLink="/user_page">User Page</a>
                
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/signup">Signup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user_page">User Page</a>
            </li>
            <li>
                <button type="button" class="btn btn-secondary" (click)="logout()">Logout</button>
            </li>
        </ul>
    </div>
</nav>
