<div class="row">
    <div class="container">
        <form [formGroup]="editForm" (ngSubmit)="edit(editForm.value)">

            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" class="form-control" id="username" formControlName="username">
            </div>

            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName">
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="container">
        <form [formGroup]="blockForm" (ngSubmit)="block(blockForm.value)">

            <div class="form-group">
                <label for="blocktime">Time(seconds)</label>
                <p>{{blocktimeVar}}</p>
                <input #blockRange formControlName="blocktime" id="blocktime" type="range" class="form-control custom-range" min="10" max="100" (change)="changeBlockvar(blockRange.value)"> 
            </div>

            <button type="submit" class="btn btn-danger">Block</button>
        </form>
    </div>


</div>