<p> Id: {{user.id}}</p>
<p> Username: {{user.userName}}</p>
<p> First Name: {{user.firstName}}</p>
<p> Last Name: {{user.lastName}}</p>

<div class="pull-right">
    <div class="pull-left">
        <input
            style="display: none"
            type="file" (change)="onFileChanged($event)"
            #fileInput>
        <button type ="button" class="btn btn-primary" (click)="fileInput.click()">Upload Image</button>
    </div>
    
    <div class="pull-right">
        <!--<h4 class="list-group-item-heading"> IMAGE </h4>
        -->
        <img [src]="user.imgURL" height="200">
    </div>    
</div>