<div class="row">
    <div class="col-xs-12">
        <a class="list-group-item clearfix" *ngFor="let t of turbines" (click)="selectTurbine(t)" [ngClass]="{'bg-info': t.id === selectedTurbine.id}">
            <app-turbine [turbine]='t'></app-turbine>
        </a>
    </div>
</div>