
<div class="row">

    <div class="col-xs-12 border">
        <h2>Coal Plant Data</h2>
        <p>Status            : {{coalPlant.statusText}}</p>
        <p>Production        : {{coalPlant.production}}</p>
        <p>Buffer            : {{coalPlant.buffer}}</p>
    </div>

    <div class="col-xs-12 border">
        <button class="btn btn-success" (click)="startPowerPlant()">Start</button>
        <button class="btn btn-danger" (click)="stopPowerPlant()">Stop</button>
    </div>

    <div class="col-xs-12 border">
        <h3>Market/Buffer Control</h3>
        <h4>How much of produced power do you want to store in the buffer? (the rest will be sold to the market)</h4>
        <p>Store: {{coalPlant.buffer_ratio}} %</p>
        <input #bufferRange1 value="{{coalPlant.buffer_ratio}}" type="range" class="custom-range" id="customRange1" min="0" max="100" (change)="setRatio(bufferRange1.value)"> 
    </div>

    <div class="col-xs-12 border">
        <h2>Market Data: </h2>
        <p>Demand         : {{market.demand}}</p>
        <p>Modeled Price  : {{market.modeled_price}}</p>
        <p>Price          : {{market.price}}</p>
        <p>Market Buffer  : {{market.buffer}}</p>
    </div>

    <div class="col-xs-12 border">
        <input #priceinput type="text" class="form-control">
        <button class="btn btn-primary" (click)="setMarketPrice(priceinput.value)">Set Price</button>
    
        <button class="btn btn-primary" (click)="togglePrice()">Toggle Price</button>
    </div>


</div>
