
<div class="container-fluid">

    <div class="progress" style="height: 10px;" *ngIf="!manager">
        <div class="progress-bar progress-bar bg-info" role="progressbar" [ngStyle]="{width: ((updateTimer/updateFreq)*100) + '%'}" attr.aria-valuenow="{{updateTimer}}" aria-valuemin="0" attr.aria-valuemax="updateFreq"></div>
    </div>

    <div class="row" style="height: 800px">
        
        <div class="col border">
            <app-manager-field [coalPlant]="coalPlant" [market]="market"></app-manager-field>
        </div>
        
        <div class="col border">      
            <h2>Users</h2>
            <div class="h-75 overflow-auto">
                <app-list-users [users]="users" [selectedUser]="selectedUser" (selected)="onSelectUser($event)"></app-list-users>
            </div>
        </div>

        <div class="col-4 border" *ngIf="selectedUser.id >= 0">      
            <h2>Edit User {{selectedUser.id}}</h2>
            <app-edit-user-field [userId]="selectedUser.id" ></app-edit-user-field>
        </div>


    </div>

    <app-user-field *ngIf="selectedUser.id >= 0" [turbines]="selectedHousehold.turbines" [selectedTurbine]="selectedTurbine" [selectedHousehold]="selectedHousehold" (selectedH)="onSelectHousehold($event)" (selectedT)="onSelectTurbine($event)" [selectedUser]="selectedUser"></app-user-field>


</div>
