<div class="container">
    <h2>{{responseText}}</h2>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
        <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" formControlName="fname" required>
        </div>

        <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" formControlName="lname" required>
        </div>

        <div class="form-group">
            <label for="uname">User Name</label>
            <input type="text" class="form-control" id="uname" formControlName="uname" required>
        </div>

        <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" class="form-control" id="pass" formControlName="pass" required>
        </div>

        <div class="form-group">
            <label for="pass2">Repeat Password</label>
            <input type="password" class="form-control" id="pass2" formControlName="pass2" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
