<!-- This container makes columns of lists -->
<div class="container-fluid">

    <div class="progress" style="height: 10px;" *ngIf="!manager">
        <div class="progress-bar progress-bar bg-info" role="progressbar" [ngStyle]="{width: ((updateTimer/updateFreq)*100) + '%'}" attr.aria-valuenow="{{updateTimer}}" aria-valuemin="0" attr.aria-valuemax="updateFreq"></div>
    </div>

    <div class="row" style="height: 800px">
        <div class="col border">
            <h2>Profile</h2>
            <app-profile-field [user]="user"></app-profile-field>
        </div>
        <div class="col border">
            <h2>Households</h2>
            <div class="h-75 overflow-auto">
                <!-- Here are the households listed-->
                <app-list-household [selectedHousehold]="selectedHousehold" [households]="households" (selected)="onSelectHousehold($event)"></app-list-household>
            </div>
            <div class="col-xs-12">
                <app-household-form></app-household-form>
            </div>
        </div>
        <div class="col border">
            <h2>Turbines</h2>
            <div class="h-75 overflow-auto">
                <!-- Here are the turbines listed-->
                <app-list-turbines  [selectedTurbine]="selectedTurbine" [turbines]="turbines" (selected)="onSelectTurbine($event)"></app-list-turbines>
                
            </div>
            <div class="col-xs-12">
                <app-turbine-form [selectedHousehold]="selectedHousehold"></app-turbine-form>
            </div>
        </div>
        <!-- This Div is for stats and controller -->
        <div class="col border">
            <app-stats-field [marketPrice]="marketPrice" [selectedTurbine]="selectedTurbine" [selectedHousehold]="selectedHousehold"></app-stats-field>
        </div>
   
    </div>
</div>

