<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <div class="form-group">
            <label for="uname">User Name</label>
            <input type="text" class="form-control" id="uname" formControlName="uname" required>
        </div>

        <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" class="form-control" id="pass" formControlName="pass" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>