<!-- 
<div class="row">
    <h2>User {{user.name}} Id {{user.id}}</h2>
    <div class="col-xs-12 border">
        <div>
            <h4>Change username</h4>
            <input #namefield type="text">
            <div>
                <button type="button" class="btn btn-primary" (click)="editUsername(namefield.value)">Submit</button>
            </div>
            <div class="pull-right">
                <button type="button" *ngIf="user.blocked else elseBlock" class="btn btn-success" (click)="setBlocked(false)">Un-block</button>
                <ng-template #elseBlock>
                    <button type="button" class="btn btn-warning" (click)="setBlocked(true)">Block</button>    
                </ng-template>
                <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete</button>    
            </div>
        </div>
        <div class="col border">
            <div class="pull-left">
                <app-list-household [selectedUser]='user.id'></app-list-household>
            </div>
            <div class="pull-right">
                <app-list-turbines></app-list-turbines>
            </div>
        </div>
    </div>
</div> -->

<!-- This container makes columns of lists -->
<div class="row" style="height: 800px">
    <div class="col border">
        <h2>Profile</h2>
        <app-profile-field [user]="user" [manager]="true"></app-profile-field>
    </div>
    <div class="col border">
        <h2>Households</h2>
        <div class="h-75 overflow-auto">
            <!-- Here are the households listed-->
            <app-list-household [manager]="true" [userId]="user.id"[selectedHousehold]="selectedHousehold" [households]="user.households" (selected)="onSelectHousehold($event)"></app-list-household>
        </div>
    </div>
    <div class="col border">
        <h2>Turbines</h2>
        <div class="h-75 overflow-auto">
            <!-- Here are the turbines listed-->
            <app-list-turbines  [selectedTurbine]="selectedTurbine" [turbines]="turbines" (selected)="onSelectTurbine($event)"></app-list-turbines>
        </div>
    </div>
    <div class="col border">
        <app-stats-field [manager]="manager" [marketPrice]="marketPrice" [selectedTurbine]="selectedTurbine" [selectedHousehold]="selectedHousehold"></app-stats-field>
    </div>
</div>

