<h1 mat-dialog-title>Adding Turbine To Household</h1>
<div mat-dialog-content>
  <mat-form-field>
      <p>Name: </p>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <!-- <mat-form-field>
      Coord X:
    <input matInput [(ngModel)]="data.gpsx">
  </mat-form-field>
  <mat-form-field>
      Coord Y:
    <input matInput [(ngModel)]="data.gpsy">
  </mat-form-field> -->
</div>
<div mat-dialog-actions>
  <button class="btn btn-default" mat-button (click)="onCancel()">Cancel</button>
  <button class="btn btn-success" mat-button (click)="onSubmit()" cdkFocusInitial>Add</button>
</div>